<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Web Profile |Ashish Kumar</title>
<meta property="og:title" content="Web Profile" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="Ashish Kumar Student at Ramaiah University of applied sciences, Ashish Kumar Student of Victoria Boys school, Ashish Kumar employee at Iwane labs, Ashish Kumar student at RUAS, Ashish Kumar student of VS, Ashish kumar aka Ashish Jaiswal, Ashish kumar also known as ashish jaiswal" />
<meta property="og:description" content="Ashish Kumar Student at Ramaiah University of applied sciences, Ashish Kumar Student of Victoria Boys school, Ashish Kumar employee at Iwane labs, Ashish Kumar student at RUAS, Ashish Kumar student of VS, Ashish kumar aka Ashish Jaiswal, Ashish kumar also known as ashish jaiswal" />
<link rel="canonical" href="https://ashishjaiswal181.github.io/" />
<meta property="og:url" content="https://ashishjaiswal181.github.io/" />
<meta property="og:site_name" content="Ashish Kumar" />
<script type="application/ld+json">
{"@type":"WebSite","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://ashishjaiswal181.github.io/assets/img/logo.png"}},"url":"https://ashishjaiswal181.github.io/","name":"Ashish Kumar","headline":"Bio","description":"Undergraduate at Ramaiah University Of Applied Sciences","@context":"https://schema.org"}</script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ '/'  | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" /> {% endif %}
<p>Undergraduate at Ramaiah University Of Applied Sciences</p>
            <!--<p>{{ site.description | default: site.github.project_tagline }}</p>
            
            {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
            {% endif %} {% if site.github.is_user_page %}
            <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
            {% endif %} -->
            <ul class="contact">
                <li><a href="./Project.html"><Strong> Projects</Strong></a></li>
                <li><a href="./personaldevelopment.html"><strong>Professional Development</strong></a></li>
                <li><a href="./Contact.html"><strong>Contact Me</strong></a></li>
            </ul>
            <br>
            <a class="button" href="./docs/Resume_Ashish.pdf"><i class="fa fa-download"></i>Resume</a>
            <br><br>
            <br>
            <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="ashish-kumar-837349ab"><a class="LI-simple-link" href='https://in.linkedin.com/in/ashish-kumar-837349ab?trk=profile-badge'>Ashish Kumar</a></div>
            <br><br>
            <!--
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %} -->
        </header>
        <section>

            {{ content }}

        </section>
        <footer>
            <div class="links">
                <br>
                <a href="{{ site.github.owner_url }}"><img src="/assets/img/github.png" style="display: block;max-width:72px;max-height:72px;width: auto;height: auto;"></a>
                <br>
                <a href="https://twitter.com/AshJais181"><img src="/assets/img/twitter.png" style="display: block;max-width:72px;max-height:72px;width: auto;height: auto;"></a>
                <br>
                <a href="https://www.facebook.com/profile.php?id=100004470360895"><img src="/assets/img/facebook.png" style="display: block;max-width:72px;max-height:72px;width: auto;height: auto;"></a>
                <br><br>
            </div>
            <p>This site is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
        </footer>
    </div>
    <!-- <script src="{{ ' /assets/js/scale.fix.js ' | relative_url }}"></script> -->
    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

    </script>
    {% endif %}
</body>

</html>
